:root{
    /*Cores Base*/
    --centaurea: #151B25;
    --centaurea_claro: #1a202c;
    --azul_marinho: #034687;
    --azul_bebe: #DBE8E1;
    --vermelho: #E10032;
    --branco: #ffffff;
    --roxo: #8b0885;
    --vermelho_escuro: #9b0828;

    /*Pretos*/
    --preto: #000000;
    --sombra: #242424c7;
    --cinza: #9b9595;

}