@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

a{
    color: var(--branco);
}

header{
    background-color: var(--centaurea);
    height: 50px; /*altura responsiva do "header"*/
}

nav{
    display: flex; /*alinha os itens html, o primeiro item fica à esquerda e os próximos se alinham à direita desse*/
    justify-content: space-between; /*Cria um espaço entre os elementos do "nav"*/
    height: 8vh;
    margin-left: 40px;
    margin-right: 40px;
}

main{
    width: 60vw;
}

/* TÍTULOS E SUBTÍTULOS*/
.title{
    display: inline-block;
    background-color: var(--centaurea_claro);
    padding: 50px 40PX;
    text-align: center;
    box-shadow: 8px 8px 0 var(--sombra);
    margin-top: 30px;
}

.title h1{
    color: var(--branco);
    font-size: 3em;
    margin-bottom: 10px;
    text-shadow: 3px 3px 0 var(--vermelho_escuro);
}

.title h2{
    color: var(--branco);
    font-size: 1.4em;
    text-shadow: 3px 3px 0 var(--preto);   
}

/* LOGO */
.logo{
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 5px;
    text-decoration: none;
    letter-spacing: 3px;
    line-height: 40px;
    transition: .6s;
}

.logo:hover{
    color: var(--vermelho);
    transition: step-start;
    transition: .8s;
}

/* MENUS */
#menu-principal{
    list-style: none;
    display: flex; /*alinha os itens da "ul" no padrão flex*/
    margin-top: 5px;
}

#menu-principal li{
    letter-spacing: 3px; /*Adiciona espaço entre as letras dos conteúdos dentro das "li"*/
    margin-left: 32px;
}

#menu-principal li a{
    padding-left: 5px;
    padding-right: 5px;
    line-height: 40px;
    display: inline-block;
    text-decoration: none;
}

#menu-principal li:last-child a{ /*Altera somente o ultimo filho do "li" que seja um "a"*/
    background-color: var(--vermelho);
    border-radius: 5%;
    transition: 0.6s; /*Animação de transição de saída*/
}

#menu-principal li:last-child a:hover{ /*O hover define o que acontecerá quando o cursor estiver sobre o elemento*/
    background-color: var(--vermelho_escuro);
    transition: 0.8s; /*Animação de transição de entrada*/
}

.menu{
    list-style: none;
    display: flex; /*alinha os itens da "ul" no padrão flex*/
}

.menu li{
    letter-spacing: 3px; /*Adiciona espaço entre as letras dos conteúdos dentro das "li"*/
    margin-left: 32px;
}

.menu li a{
    padding-left: 5px;
    padding-right: 5px;
    line-height: 40px;
    display: inline-block;
    text-decoration: none;
}

/* BOTÕES */
.button{
    background-color: var(--vermelho);
    border-radius: 5%;
    transition: 0.6s;
}

.button:hover{ 
    background-color: var(--vermelho_escuro);
    transition: 0.8s;
}


