.banner{
    box-sizing: border-box;
    background-image: url(../../Images/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    padding-top: 80px;
    padding-left: 80px;
    border-bottom: 10px solid var(--preto);
}

.banner .wrapper{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.banner .box{
    margin-bottom: 30px;
}

.banner .navigation{
    display: flex;
    justify-content: space-around;
}