.box{
    display: inline-block;
    background-color: var(--centaurea_claro);
    padding: 50px 40PX;
    text-align: center;
    box-shadow: 8px 8px 0 var(--sombra);

}

.box .title{
    margin-bottom: 20px;
}