.logo{
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 5px;
    font-size: 20px;
    color: var(--branco);
    text-decoration: none;
    letter-spacing: 3px;
    line-height: 39px;
    transition: .6s;
}

.logo:hover{
    color: var(--vermelho);
    transition: step-start;
    transition: .8s;
}