.progress-bar{
    box-sizing: border-box;
    border: 5px solid var(--preto);
    height: 30px;
    width: 250px;
    -webkit-appearance: none;
}

.progress-bar::-webkit-progress-bar {
    background-color: var(--branco);
}

.progress-bar::-webkit-progress-value {
    background-color: var(--vermelho);
}

.progress-bar::-moz-progress-bar{
    background-color: var(--vermelho);
}